<!DOCTYPE html>
<html lang="en">
<head>
  <title>Great Quotes</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
  <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"-->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section class="header">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all-great-quotes">All Great Quotes</a></li>
      <li><a href="/top-great-quotes">Top <%= top %> Great Quotes</a></li>
      <li><a href="/new-great-quote">New Great Quote</a></li>
    </ul>
  </section>

  <section class="content">